:root {
  --White: #f5f7f7;
  --Black: #3e3e3e;
  --Grey: #999999;
}

body {
  background: var(--White);
  font-family: "Roboto Slab", serif;
  color: var(--Black);
  font-size: 13px;
  margin: 0;
}

h1,
h2 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-weight: normal;
  color: var(--Grey);
}

.mainHeader {
  display: flex;
  margin: 40px auto;
  max-width: 550px;
  align-items: center;
  flex-wrap: wrap;
  width: max-content;
}

.mainLogo {
  display: flex;
  margin-right: 1rem;
}

.mainLogo img {
  margin-right: 1em;
  width: 75px;
  height: 67px;
}

.mainLogo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainNav {
  display: flex;
}

.mainNav a {
  color: var(--Grey);
  padding: 0.3em 1em;
  border: 1px solid var(--White);
  border-radius: 1em;
  text-decoration: none;
  margin-left: 0.5em;
  font-size: 1rem;
  font-weight: 600;
}

.mainNav a:hover {
  color: var(--Black);
}

.mainNav a.active {
  background: var(--Black);
  border-color: var(--Black);
  color: white;
}
.portNav {
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
  justify-content: space-between;;
}
.portNav > * {
  border: 1px solid var(--Grey);
  border-radius: 15px;
}
.portNav .workTitleWrapper {
  display: flex;
  flex: 0 0 100%;
  flex-flow: column;
  border: none;
}
.portNav .workTitleWrapper h2 {
  font-size: 30px;
  color: var(--Black);
  font-weight: 800;
  margin-bottom: 10px;
}
.portNav .workTitleWrapper p {
  text-align: justify;
  margin: 0;
  max-width: initial;
  width: 100%;
}
.portNav a {
  text-align: center;
  padding: 15px;
  flex: 1 0 auto;
  color: var(--Grey);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 15px;
  margin-right: 15px;
}
.portNav a:hover {
  background: var(--Black);
  color: white;
}
.contentWrapper {
  margin-bottom: 10em;
}
.contentWrapper .mainNav {
  justify-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.contentWrapper .mainNav a {
  margin-bottom: 0.5em;
}
.contentWrapper header p {
  max-width: 900px;
  width: 90%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2.3rem;
}

.category {
  margin: 2em 0 5em 0;
}

.category h1 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4rem;
  font-size: 2rem;
  margin-left: 2rem;
}

.worksWrapper li .itemTitle {
  position: absolute;
  bottom: 1.3rem;
  right: 1rem;
  left: 1rem;
  padding: 1rem;
  text-align: center;
  color: #636363;
  font-weight: 700;
  font-size: 1rem;
}

/* width */
.worksWrapper ::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.worksWrapper ::-webkit-scrollbar-track {
  background: var(--White);
}

/* Handle */
.worksWrapper ::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #d9dada;
}

/* Handle on hover */
.worksWrapper ::-webkit-scrollbar-thumb:hover {
  background: var(--Grey);
}

.worksWrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 0 2rem;
}

.worksWrapper ul li {
  list-style-type: none;
  margin-right: 1rem;
  overflow: hidden;
  flex: 0 0 auto;
  margin-bottom: 12px;
  position: relative;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 0px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 0px -2px rgba(0, 0, 0, 0.15);
  background: white;
}
.worksWrapper ul li:last-child {
  margin-right: 10px;
}
.statement {
  line-height: 1.7em;
}
.statement svg {
  margin-right: 0.4em;
}
.statement .highlight {
  color: #f959c0;
  padding: 0.15em 0.4em;
  border-radius: 1em;
}
.statement bold {
  color: #47c0d2;
  padding: 0.15em 0.4em;
  border-radius: 1em;
}
.statement .blackHighlight {
  background: var(--Black);
  padding: 0.15em 0.4em;
  color: white;
  font-weight: 600;
}
.cvBlockTitle {
  padding-bottom: 1em;
  margin: 2em auto;
  border-bottom: 3px double var(--Grey);
  width: 90%;
  max-width: 550px;
  font-size: 1.2rem;
}
.cvBlock {
  width: 90%;
  margin: 2em auto 6rem;
  max-width: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.cvBlock aside {
  flex: 0 0 25px;
  margin-right: 1em;
  position: sticky;
  top: 10px;
  align-self: flex-start;
  display: flex;
  flex-flow: column;
}
.cvBlock aside svg {
  font-size: 1.6em;
  color: var(--Black);
  margin-bottom: 0.4em;
}

.cvBlock > div {
  flex: 1 1 auto;
}
.cvItem {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted var(--Grey);
}
.cvItem h2 {
  text-align: justify;
}
.cvItem h2 svg {
  color: #52c2b8;
  margin-right: 0.1em;
  vertical-align: text-top;
}
.cvItem bold {
  font-weight: 600;
  color: var(--Black);
}
.cvItem ul li {
  text-align: justify;
  margin-bottom: 0.5em;
}
.cvItem p {
  text-align: justify;
  margin: 0;
  max-width: none;
  width: 100%;
  display: block;
}
.contactInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.contactInfo a {
  color: var(--Black);
  text-decoration: none;
}
.contactInfo a svg {
  margin-right: 0.5em;
}
.exLink {
  color: inherit;
  text-decoration: none;
}
.exLink:hover {
  text-decoration: underline;
}
.exLink svg {
  margin-right: 0.3em !important;
}

@media (max-width: 576px) {
  .mainHeader {
    justify-content: center;
    width: auto;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .mainLogo {
    margin-bottom: 2em;
  }
  .mainNav {
    width: 100%;
    justify-content: center;
  }
  .cvItem ul li,
  .cvItem h2 {
    text-align: left;
  }
  .contentWrapper header p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-top: 2rem;
  }
  .portNav .workTitleWrapper p {
    text-align: left;
  }
}
