:root {
    --White: #F5F7F7;
    --Black: #3E3E3E;
    --Grey: #999999;
}

body {
    background: var(--White);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Black);
    font-size: 13px;
    margin: 0;
}

h1,
h2 {
    font-size: 1em;
    margin: 0;
}

h2 {
    font-weight: normal;
    color: var(--Grey);
}

.mainHeader {
    display: flex;
    width: 90%;
    margin: 40px auto;
    max-width: 550px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mainLogo {
    display: flex;
}

.mainLogo img {
    margin-right: 1em;
    width: 75px;
    height: 67px;
}

.mainLogo>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainNav {
    display: flex;
}

.mainNav a {
    color: var(--Grey);
    padding: .3em 1em;
    border: 1px solid var(--White);
    border-radius: 1em;
    text-decoration: none;
    margin-left: .5em;
}

.mainNav a:hover {
    color: var(--Black);
}

.mainNav a.active {
    color: var(--Black);
    border-color: var(--Black);
}

.contentWrapper {
    margin-bottom: 10em;
}
.contentWrapper .mainNav {
    justify-content: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
.contentWrapper header p {
    max-width: 800px;
    width: 90%;
    margin: 0 auto 3em auto;
    text-align: center;
}

.category {
    margin: 2em 0 5em 0;
}

.category h1 {
    text-align: center;
    margin-bottom: 2em;
}

.worksWrapper {}

/* width */
.worksWrapper ::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.worksWrapper ::-webkit-scrollbar-track {
    background: var(--White);
}

/* Handle */
.worksWrapper ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #D9DADA;
}

/* Handle on hover */
.worksWrapper ::-webkit-scrollbar-thumb:hover {
    background: var(--Grey);
}

.worksWrapper ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 0;
}

.worksWrapper ul li {
    list-style-type: none;
    margin-left: 10px;
    border-radius: 1em;
    overflow: hidden;
    flex: 0 0 auto;
    margin-bottom: 5px;
}
.worksWrapper ul li:last-child {
    margin-right: 10px;
}
.statement {
    line-height: 1.7em;
}
.statement svg {
    margin-right: .4em;
}
.statement .highlight{
    background: #f288cc;
    color: white;
    padding: .15em 0.4em;
    border-radius: 1em;
}
.statement bold{
    background: #74b8c2;
    padding: .15em 0.4em;
    color: white;
    border-radius: 1em;
}
.statement .blackHighlight {
    background: var(--Black);
    padding: .15em 0.4em;
    color: white;
    font-weight: 600;
}
.cvBlockTitle {
    padding-bottom: 1em;
    margin: 2em auto;
    border-bottom: 3px double var(--Grey);
    width: 90%;
    max-width: 550px;
}
.cvBlock {
    width: 90%;
    margin: 2em auto;
    max-width: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.cvBlock aside {
    flex: 0 0 25px;
    margin-right: 1em;
    position: sticky;
    top: 10px;
    align-self: flex-start;
    display: flex;
    flex-flow: column;
}
.cvBlock aside svg {
    font-size: 1.6em;
    color: var(--Black);
    margin-bottom: 0.4em;
}

.cvBlock > div {
    flex: 1 1 auto;
}
.cvItem {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px dotted var(--Grey);
}
.cvItem h2 {
    text-align: justify;
}
.cvItem h2 svg {
    color: #52c2b8;
    margin-right: .1em;
    vertical-align: text-top;
}
.cvItem bold{
    font-weight: 600;
    color: var(--Black);
}
.cvItem ul li {
    text-align: justify;
    margin-bottom: .5em;
}
.cvItem p {
    text-align: justify;
    margin: 0;
    max-width: none;
    width: 100%;
    display: block;
}
.contactInfo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.contactInfo a {
    color: var(--Black);
    text-decoration: none;
}
.contactInfo a svg {
    margin-right: .5em;
}
.exLink {
    color: inherit;
    text-decoration: none;
}
.exLink:hover {
    text-decoration: underline;
}
.exLink svg {
    margin-right: .3em !important;
}

@media (max-width: 576px) {
    .mainHeader {
        justify-content: center;
    }
    .mainLogo {
        margin-bottom: 2em;
    }
    .mainNav {
        width: 100%;
        justify-content: center;
    }
    .cvItem ul li, .cvItem h2 {
        text-align: left;
    }
}