:root {
  --MyBlack: #3e4b48;
  --MyGrey: #d4d4d4;
  --MyMustard: #c9a845;
  --MyGreen: #5eb7b9;
  --MyDarkGreen: #387374;

  --NamakPurple: #7464ae;
  --NamakLightPurple: #b5b2d0;
  --NamakGrey: #f7f6fa;
  --NamakDarkPurple: #3a2979;
  --NamakCyan: #4fcad5;

  --EvensetLightGrey: #f5f5f5;
  --EvensetMint: #6ee59b;
  --EvensetBlue: #0181ff;
  --EvensetGrey: #c5c8d5;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  background: var(--MyBlack);
  color: var(--MyBlack);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* transition: background-color 10s ease-out; */
}
h1,
h2,
h3,
h4,
h5,
e h6 {
  font-family: Bitter;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
}
.router-link-active,
.router-link-exact-active {
  font-weight: 800;
  text-decoration: line-through;
}
.router-link-active:hover,
.router-link-exact-active:hover {
  font-weight: 800;
  text-decoration: line-through;
}
.whiteBG {
  background: white;
}
.blackBG {
  background-color: hsla(60, 0%, 0%, 1);
  background-image: radial-gradient(
      at 94% 72%,
      hsla(184, 100%, 7%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 56% 44%, hsla(0, 100%, 6%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 47%, hsla(120, 100%, 5%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 28%, hsla(285, 100%, 8%, 1) 0px, transparent 50%);
}

.yellowBG {
  background: rgb(253, 255, 239);
  background: -moz-linear-gradient(
    275deg,
    rgba(253, 255, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    275deg,
    rgba(253, 255, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    275deg,
    rgba(253, 255, 239, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdffef",endColorstr="#ffffff",GradientType=1);
}

.greenBG {
  background: rgb(239, 253, 255);
  background: -moz-linear-gradient(
    275deg,
    rgba(239, 253, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    275deg,
    rgba(239, 253, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    275deg,
    rgba(239, 253, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#effdff",endColorstr="#ffffff",GradientType=1);
}

.namakBG {
  background: rgb(128, 112, 185);
  background: -moz-linear-gradient(
    275deg,
    rgba(128, 112, 185, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  background: -webkit-linear-gradient(
    275deg,
    rgba(128, 112, 185, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  background: linear-gradient(
    275deg,
    rgba(128, 112, 185, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8070b9",endColorstr="#3a2979",GradientType=1);
}
.namakBG.solution {
  background: rgb(128, 112, 185);
  background: url("../src/assets/namak-solution.png") calc(50vw) center
      no-repeat,
    -moz-linear-gradient(275deg, rgba(128, 112, 185, 1) 0%, rgba(58, 41, 121, 1)
          100%);
  background: url("../src/assets/namak-solution.png") calc(50vw) center
      no-repeat,
    -webkit-linear-gradient(275deg, rgba(128, 112, 185, 1) 0%, rgba(
            58,
            41,
            121,
            1
          )
          100%);
  background: url("../src/assets/namak-solution.png") calc(50vw) center
      no-repeat,
    linear-gradient(
      275deg,
      rgba(128, 112, 185, 1) 0%,
      rgba(58, 41, 121, 1) 100%
    );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8070b9",endColorstr="#3a2979",GradientType=1);
  /* background-size: contain; */
}
.namakLightBG {
  background: var(--NamakGrey);
}

.evensetBG {
  background: rgb(43, 73, 182);
  background: -moz-linear-gradient(
    225deg,
    rgba(43, 73, 182, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  background: -webkit-linear-gradient(
    225deg,
    rgba(43, 73, 182, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  background: linear-gradient(
    225deg,
    rgba(43, 73, 182, 1) 0%,
    rgba(58, 41, 121, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2b49b6",endColorstr="#3a2979",GradientType=1);
}
.evensetLightBG {
  background: var(--EvensetLightGrey);
}
